<%- include('../partials/header.ejs'); %>

    <body>
        <%- include('../partials/dashboard-nav.ejs'); %>
            <div id="rest-list" class="rest-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order No</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Pincode</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Action</th>
                            <th scope="col">Ngo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(length> 0) { %>
                            <% rows.forEach((rows, index)=> { %>
                                <tr class="row-iter">
                                    <th scope="row">
                                        <%= rows.order_no %>
                                    </th>
                                    <td>
                                        <%= rows.date%>
                                    </td>
                                    <td>
                                        <%= rows.Name%>
                                    </td>
                                    <td>
                                        <%= rows.Pincode%>
                                    </td>
                                    <td>
                                        <%= rows.Quantity %>
                                    </td>
                                    <td>
                                        <%= rows.Status %>
                                    </td>
                                    <td>
                                        <%= rows.Ngo %>
                                    </td>
                                </tr>
                                <%})%>
                                    <%} else { %>
                                        <tr>
                                            <td> Not Allowed </td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
            </div>
    </body>

    </html>
